[Desktop Entry]
Version=1.0
Type=Application
Name=vpreview
Comment=Flutter Application - vpreview
Exec=/usr/bin/vpreview
Icon=/usr/share/icons/hicolor/256x256/apps/vpreview.png
Terminal=false
Categories=Utility;Development;
